<!-- Satyakanth Kolakani -->
<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        
        <br/>
        <h2>Add new order line item </h2>
        <br/>
        <% maxID=0; for (var i=0; i < orderlineitems.query.length; i++) {
        if(orderlineitems.query[i].ordLine_id > maxID) { maxID=orderlineitems.query[i].ordLine_id;   }
          }%>
          <div class="content">
            <div>
              <form name="orderlineitems" method="POST" action="/orderlineitems/save">
  
                <div class="form-group" id=frm>
                  <label for="ordLine_id">ID</label>
                  <input type="number" class="form-control" id="ordLine_id" name="ordLine_id" value="<%= maxID+1 %>" required readonly>
                </div>
  
                <!-- COMMON TO EDIT AND CREATE -->
                <% include partial_edit.ejs %>
  
                  <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                  </div>
              </form>
  
              <br/>
  
              <form method="get" action="/orderlineitems">
                <input type="submit" value="Return to list" class="btn btn-caution" />
              </form>
  
            </div>
          </div>
      </div>
    </div>
  </div>