<!-- Satyakanth Kolakani -->
<br/>
<br/>
<h2>Confirm deletion of orderlineitem</h2>
<br/>
<br/> ID:
<%=  orderlineitems.ordLine_id %>
  <br> order id:
  <%=orderlineitems.order_id %>
    <br/> Productid:
    <%=orderlineitems.product_id%>
    <br/> quantity:
      <%=orderlineitems.order_Quantity%>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/orderlineitems">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/orderlineitems/delete/<%= orderlineitems.order_id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>