<!-- Satyakanth Kolakani -->
br/>
<br />
<h2>order details</h2>
<br /> ID:
<%= orderlineitems.ordLine_id %>
<br>order id:
<%= orderlineitems.order_id  %>
<br /> Productid:
<%= orderlineitems.product_id %>
<br /> quantity::
<%= orderlineitems.order_Quantity %>

<br />
<br />
<form method="get" action="/orderlineitems">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>