<!-- Satyakanth Kolakani -->
 <br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit Product </h2>
      <div class="content">
        <form method="POST" action="/orderlineitems/save/<%= orderlineitems.ordLine_id%>">
          <div class="form-group" id=frm>
            <label for="ordLine_id">ID</label>
            <input type="number" class="form-control" id="ordLine_id" name="ordLine_id" value="<%= orderlineitems.ordLine_id %>" required disabled>
          </div>
         
            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs %>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/orderlineitems">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>