<!-- Satyakanth Kolakani -->
<br />
<br />
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderlineitems/create" class="btn btn-primary new">
        Create a new order
      </a>
      <h2>Recent order entries</h2>
      <p>There are
        <%= orderlineitems.query.length %> orderlineitems.
      </p>
      <% for ( let i = 0; i < orderlineitems.query.length; i++) {  %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%= orderlineitems.query[i].ordLine_id %>
          <br> order id:
          <%=orderlineitems.query[i].order_id %>
          <br> Productid:
          <%=orderlineitems.query[i].product_id %>
          <br> quantity:
          <%=orderlineitems.query[i].order_Quantity %>
          <br>
          <br>
          <a href="orderlineitems/delete/<%= orderlineitems.query[i].ordLine_id %>" class="btn btn-danger"> Delete </a>
          <a href="orderlineitems/details/<%= orderlineitems.query[i].ordLine_id %>" class="btn btn-info"> Details </a>
          <a href="orderlineitems/edit/<%= orderlineitems.query[i].ordLine_id%>" class="btn btn-warning"> Edit </a>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>