<!-- Satyakanth Kolakani -->
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="order_id">order id</label>
        <input type="text" class="form-control" id="order_id" name="order_id" value="<%= orderlineitems.order_id %>" required>
      </div>
      <div class="form-group">
        <label for="product_id">Productid</label>
        <input type="text" class="form-control" id="product_id" name="product_id" value="<%= orderlineitems.product_id %>" required>
      </div>
      <div class="form-group">
        <label for="order_Quantity">quantity</label>
        <input type="text" class="form-control" id="order_Quantity" name="order_Quantity" value="<%= orderlineitems.order_Quantity %>" required>
      </div>
    </div>
  </div>