<% include header %>
<body>
    <h1> CUSTOMER DETAILS</h1>
    <!-- @author Sanjana Tummala -->
    <ol>
        <li>
            1) <a href="https://mvc05.herokuapp.com/customer/edit/1">https://mvc05.herokuapp.com/customer/edit/1</a><br/>
            2) <a href="https://mvc05.herokuapp.com/customer/details/1">https://mvc05.herokuapp.com/customer/details/1</a><br/>
            3) <a href="https://mvc05.herokuapp.com/customer/delete/1">https://mvc05.herokuapp.com/customer/delete/1</a><br/>
            4) <a href="https://mvc05.herokuapp.com/customer/findall">https://mvc05.herokuapp.com/customer/findall</a><br/>
            5) <a href="https://mvc05.herokuapp.com/customer/findone/1">https://mvc05.herokuapp.com/customer/findone/1</a><br/>
            6) <a href="https://mvc05.herokuapp.com/customer">https://mvc05.herokuapp.com/customer</a><br/>
            7) <a href="https://mvc05.herokuapp.com/customer/create">https://mvc05.herokuapp.com/customer/create</a>
        </li>
    </ol>
<ol>
    <li>
            <a href="/products/findall">http://localhost:8081/product/findall</a>
    </li>
<li>
    <a href="/products/findone/1">http://localhost:8081/product/findone/1</a>
</li>
</ol>
    <div>
    <!-- <ul class="nav navbar-nav">
    <li><a href="/product/create" target="_blank">create</a></li>
    <li><a href="/product/delete" target="_blank">delete</a></li>
    <li><a href="/product/details" target="_blank">details</a></li>
    <li><a href="/product/edit" target="_blank">edit</a></li>
    </ul>
    </div> -->
</body>
<% include footer %>