<!-- Author: Himabindu Poshala -->
<br/>
<br/>
<h2>Confirm deletion of Product</h2>
<br/>
<br/> ID:
<%=product._id %>
<br> Productkey:
<%=product.productKey %>
<br> description:
<%=product.description %>
 <br>unitPrice:
<%=product.unitPrice %>
<br>color:
<%=product.color %>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/products">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/products/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
