<!-- Author: Himabindu Poshala  -->

<br/>
<br/>
<h2>Product details</h2>
<br/> ID:
<%=product._id %>
<br> Productkey:
<%=product.productKey %>
<br> description:
<%=product.description %>
 <br>unitPrice:
<%=product.unitPrice %>
<br>color:
<%=product.color %>
   <br/>   
          
            <br/>
            <br/>
            <form method="get" action="/products">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>


