<!-- Author: Himabindu Poshala -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="products/create" class="btn btn-primary new">
        Create a new product
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= products.query.length %> products.
    </p>
    <% for ( let i = 0; i < products.query.length; i++) {   
      product = products.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=product._id %>
          <br> Productkey:
          <%=product.productKey %>
          <br> description:
          <%=product.description %>
           <br>unitPrice:
          <%=product.unitPrice %>
          <br>color:
          <%=product.color %>
          
    <br>
    <br>
    <a href="products/delete/<%= product._id %>" class="btn btn-danger"> Delete </a>
    <a href="products/details/<%= product._id %>" class="btn btn-info"> Details </a>
    <a href="products/edit/<%= product._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>


